---
import type { IServiceItem } from "../../utils/types";
import ServiceCard from "../ServiceCard/index.astro";

interface IServiceListProps {
	services: IServiceItem[];
}

const { services = [] } = Astro.props as IServiceListProps;
---

<div role="list" class="grid properties w-dyn-items">
	{
		services.map((service) => (
			<ServiceCard
				title={service.title}
				description={service.description}
				price={service.price}
				imageUrl={service.imageUrl}
				propertyUrl={service.propertyUrl}
			/>
		))
	}
</div>
